* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(53, 52, 68);
}

h1,
h2,
p,
button {
  color: white;
  font-family: monaco, Consolas, Lucida Console, monospace;
  text-shadow: 0px 0px 2px black;
  font-weight: bold;
}

p {
  text-decoration: underline;
  cursor: pointer;
}

p:hover {
  color: lightcoral;
}

.App {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.increase {
  background-color: rgb(113, 233, 113);
}

.decrease {
  background-color: lightcoral;
}

.stop {
  background-color: rgb(161, 161, 161);
}
